<div class="jumbotron text-center" *ngIf="isSubmitted">
  <h2>The Reactive form has been sent!</h2>
  <p>We appreciate it.</p>
</div>

<div class="main">

  <div class="container">
    <form (ngSubmit)="processForm()" [formGroup]="form" *ngIf="!isSubmitted">
      <div class="form-group">
        <label for="name"
               [ngClass]="{
                  'control-label-err': form.get('name').invalid && form.get('name').touched,
                  'control-label-success': form.get('name').valid && form.get('name').touched
                }"
        >
          Name
        </label>
        <input id="name"
               type="text"
               class="form-control"
               formControlName="name"
               name="name"
               required
               [ngClass]="{
                'form-control-err': form.get('name').invalid && form.get('name').touched,
                'form-control-success': form.get('name').valid && form.get('name').touched
               }"
        >

        <span class="help-block" *ngIf="formErrors.name">
          {{ formErrors.name }}
        </span>
      </div>

      <div class="form-group">
        <label for="username"
               [ngClass]="{
                  'control-label-err': form.get('username').invalid && form.get('username').touched,
                  'control-label-success': form.get('username').valid && form.get('username').touched
                }"
        >
          Username
        </label>
        <input id="username"
               type="text"
               class="form-control"
               formControlName="username"
               name="username"
               required
               [ngClass]="{
                'form-control-err': form.get('username').invalid && form.get('username').touched,
                'form-control-success': form.get('username').valid && form.get('username').touched
               }"
        >

        <span class="help-block" *ngIf="formErrors.username">
          {{ formErrors.username }}
        </span>
      </div>

      <!--addresses-->
      <div class="form-group" formArrayName="addresses">
        <div *ngFor="let address of getControls(); let i = index">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Address #{{ i + 1 }}

              <span class="panel-heading-btn"
                    *ngIf="getControls().length > 1"
                    (click)="removeAddress(i)"
              >
                Remove
              </span>
            </div>

            <div class="panel-body" [formGroupName]="i">
              <div class="form-group">
                <label [ngClass]="{
                        'control-label-err': getControls().at(i).get('city').invalid && getControls().at(i).get('city').touched,
                        'control-label-success': getControls().at(i).get('city').valid && getControls().at(i).get('city').touched
                       }"
                >
                  City
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="city"
                       required
                       [ngClass]="{
                        'form-control-err': getControls().at(i).get('city').invalid && getControls().at(i).get('city').touched,
                        'form-control-success': getControls().at(i).get('city').valid && getControls().at(i).get('city').touched
                       }"
                >

                <span class="help-block" *ngIf="formErrors.addresses[i].city">
                  {{ formErrors.addresses[i].city }}
                </span>
              </div>

              <div class="form-group">
                <label [ngClass]="{
                        'control-label-err': getControls().at(i).get('country').invalid && getControls().at(i).get('country').touched,
                        'control-label-success': getControls().at(i).get('country').valid && getControls().at(i).get('country').touched
                       }"
                >
                  Country
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="country"
                       required
                       [ngClass]="{
                        'form-control-err': getControls().at(i).get('country').invalid && getControls().at(i).get('country').touched,
                        'form-control-success': getControls().at(i).get('country').valid && getControls().at(i).get('country').touched
                       }"
                >

                <span class="help-block" *ngIf="formErrors.addresses[i].country">
                  {{ formErrors.addresses[i].country }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <a (click)="addAddress()" type="button" class="btn btn-info">Add Address</a>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-danger" [disabled]="form.invalid">Submit</button>
      </div>

      {{ diagnosticReactiveForm }}
    </form>
  </div>

</div>
