<div class="jumbotron text-center" *ngIf="submitted">
  <h2>Thanks for your submission!</h2>
  <p>We appreciate it.</p>
</div>

<div class="container">
  <form (ngSubmit)="processForm()" *ngIf="!submitted" #form='ngForm'>

    <div class="form-group">
      <label class="control-label"
             [ngClass]="{
                'control-label-err': name.invalid && name.touched,
                'control-label-success': name.valid
             }"
      >
        Name
      </label>
      <input type="text"
             class="form-control"
             name="name"
             required
             [ngClass]="{
                'form-control-err': name.invalid && name.touched,
                'form-control-success': name.valid
             }"
             [(ngModel)]="user.name"
             #name='ngModel'
      >

      <span class="help-block" *ngIf="name.invalid && name.touched">
        Name is required.
      </span>
    </div>

    <div class="form-group">
      <label class="control-label"
             [ngClass]="{
                'control-label-err': username.invalid && username.touched,
                'control-label-success': username.valid
             }"
      >
        Username
      </label>
      <input type="text"
             class="form-control"
             name="username"
             required
             [ngClass]="{
                'form-control-err': username.invalid && username.touched,
                'form-control-success': username.valid
             }"
             [(ngModel)]="user.userName"
             #username='ngModel'
      >

      <span class="help-block" *ngIf="username.invalid && username.touched">
        Username is required.
      </span>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </div>

    {{ diagnostic }}

  </form>
</div>
