<div class="main">

  <div class="container">
    <form (ngSubmit)="processForm()" [formGroup]="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" name="name" required>

        <span class="help-block" *ngIf="nameError">
          {{ nameError }}
        </span>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" class="form-control" formControlName="username" name="username" required>

        <span class="help-block" *ngIf="usernameError">
          {{ usernameError }}
        </span>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
    </form>
  </div>

</div>
